<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://toomuchdata.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>toomuchdata.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>toomuchdata</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$toomuchdata</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AdventureWorksContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:{your_server_name_here}.database.windows.net,1433;Initial Catalog=AdventureWorks2012;User ID=azureguidance@{your_server_name_here};Password={your_password_here};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:{your_server_name_here}.database.windows.net,1433;Database=AdventureWorks2012;User ID=azureguidance@{your_server_name_here};Password={your_password_here};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RetrievingTooMuchData.DataAccess.AdventureWorksContext, RetrievingTooMuchData.DataAccess" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdventureWorksContext-Web.config Connection String">
      <ParameterValue>Server=tcp:wcz4veuq7a.database.windows.net,1433;Database=AdventureWorks2012;User ID=azureguidance@wcz4veuq7a;Password=pass@word1;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>