@{
    ViewBag.Title = "ChattyIO Anti-Pattern";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="chatty">
        <h2>Click a button below to intiate calls</h2>
        <table class="nav-justified">
            <tr>
                <td>
                    <input id="btnChatty" type="button" value="Make chatty calls >>" onclick="location.href = '/Home/ChattyAsync'" />
                </td>
                <td>
                    <input id="btnChunky" type="button" value="Make a chunky call" onclick="location.href = '/Home/ChunkyAsync'" />
                </td>
            </tr>
        </table>
    </div>
</body>

